[submodule "Aspectos_Avanzados/guns-vs-phones"]
	path = Aspectos_Avanzados/guns-vs-phones
	url = git@github.com:fdavidcl/guns-vs-phones.git
[submodule "rec_systems/clustering-summarization"]
	path = rec_systems/clustering-summarization
	url = git@github.com:fdavidcl/clustering-summarization.git
[submodule "Intro_investigacion/open-access"]
	path = Intro_investigacion/open-access
	url = git@github.com:fdavidcl/open-access.git
